<h1>Добро пожаловать</h1>
<p>в мое новое приложение на Rails</p> 
<h1>Добро пожаловать</h1>
<h2>Добро пожаловать</h2>
<h3>Добро пожаловать</h3>
<h4>Добро пожаловать</h4>
<h5>Добро пожаловать</h5>

<a href="http://localhost:3000/pages/about">О нас<br></a> 

<%= link_to "О на а Ruby", pages_about_path %>

<%= link_to "Главная страница", root_path %>